<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Icon</key>
		<string>ic_Autos&amp;Vehicles</string>
		<key>Name</key>
		<string>Autos&amp;Vehicles</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Autos?alt=json&amp;v=2&amp;time=today</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Autos?alt=json&amp;v=2&amp;time=today</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Autos?alt=json&amp;v=2&amp;time=today</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Comedy</string>
		<key>Name</key>
		<string>Comedy</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Comedy?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Comedy?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Comedy?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Education</string>
		<key>Name</key>
		<string>Education</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Education?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Education?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Education?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Entertaiment</string>
		<key>Name</key>
		<string>Entertaiment</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Entertainment?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Entertainment?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Entertainment?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Film&amp;Animation</string>
		<key>Name</key>
		<string>Film&amp;Animation</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Film?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Film?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Film?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Sport</string>
		<key>Name</key>
		<string>Sport</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Sports?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Sports?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Sports?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Travel&amp;Events</string>
		<key>Name</key>
		<string>Travel&amp;Events</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Travel?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Travel?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Travel?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Pets&amp;Animals</string>
		<key>Name</key>
		<string>Pets&amp;Animals</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Animals?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Animals?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Animals?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_News&amp;Politics</string>
		<key>Name</key>
		<string>News&amp;Politics</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_News?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_News?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_News?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_music</string>
		<key>Name</key>
		<string>Music</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Music?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Music?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Music?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_People&amp;Blogs</string>
		<key>Name</key>
		<string>People&amp;Blogs</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_People?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_People?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_People?alt=json&amp;v=2</string>
	</dict>
	<dict>
		<key>Icon</key>
		<string>ic_Game</string>
		<key>Name</key>
		<string>Game</string>
		<key>PopularURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/most_popular_Autos?alt=json&amp;v=2</string>
		<key>FeatureURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/recently_featured_Autos?alt=json&amp;v=2</string>
		<key>TopRateURL</key>
		<string>http://gdata.youtube.com/feeds/api/standardfeeds/top_rated_Autos?alt=json&amp;v=2</string>
	</dict>
</array>
</plist>
